$primary-color: #2e374a;
$background-color: #f6f8fa;
$border-color: #7d8590;
$font-color: #ffffff;

.footer-section {
  // border: 1px solid red;

  padding: 70px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  .footer-container {
    display: flex;
    justify-content: space-between;
    // border: 1px solid white;
    padding: 60px;

    ul {
      font-size: 14px;
      color: $border-color;
      list-style: none;
    }
    li {
      line-height: 18px;
      margin-top: 18px;
    }

    li:hover {
      cursor: pointer;
      text-decoration: underline;
      color: #2f81f7;
    }

    .footer-left-content {
      // border: 1px solid rgb(0, 17, 255);
      width: 35%;

      .github-footer {
        color: $font-color;
      }

      .newsletter {
        color: $font-color;
        font-size: 14px;
        margin-bottom: -10px;
      }

      .tips {
        color: $border-color;
        font-size: 14px;
      }
      .subscribe-btn {
        font-size: 16px;
        color: $font-color;
        width: 120px;
        font-weight: bold;
        height: 48px;
        margin-top: 20px;
        background: transparent;
        border-radius: 6px;
        border: 1px solid $border-color;
      }

      .subscribe-btn:hover {
        cursor: pointer;
        border: 2px solid $font-color;
      }
    }

    .footer-right {
      display: flex;
      justify-content: space-between;
      width: 70%;
    }
  }
}

.footer-social {
  // border: 1px solid red;
  background-color: #161b22;
  justify-content: space-evenly;
  display: flex;
  height: 68px;

  .footer-left-social {
    // border: 1px solid rgb(255, 230, 0);
    color: $border-color;
    display: flex;
    font-size: 12px;
    width: 30%;
    align-items: center;
    justify-content: space-between;
  }

  .footer-right-social {
    display: flex;
    width: 20%;
    // border: 1px solid rgb(0, 204, 255);
    justify-content: space-evenly;
    align-items: center;

    img {
      height: 20px;
      width: 20px;
    }
  }
}
